.followers-btn {
  background-color: rgb(229, 123, 10);
  color: black;
  border: none;
 padding: 5px 9px;
    border-radius: 5px;
    position: absolute;
       top: 61px;
    right: -2px;
    cursor: pointer;
}
.following-btn {
   background-color: rgb(229, 123, 10);
    color: black;
    border: none;
    padding: 6px 8px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    right: -2px;
    cursor: pointer;

}
